<!DOCTYPE html>
<html>
  <head>
    <title>Petsy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
        <ul>
        <li><a href="<%= new_user_path %>">s'inscription</a></li>
        <li><a href="">Se connecter</a></li>
    </ul>
</div>
<% if flash[:succsess] %>

<strong><%= flash[:succsess]  %></strong>
  
<% end %>
    <%= yield %>
  </body>
</html>
